<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/anachim/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="anachim" />
            <add key="ClearTextPassword" value="1fab3eb8d38e74661a6c2de7ab66519c4467243a" />
        </github>
    </packageSourceCredentials>
</configuration>
